.add-item {
  font-family: @font-header;
  display: flex;
  align-self: center;
  flex-direction: column;
  width: 282px;
  padding-top: 13px;
  padding-bottom: 18px;
  flex-wrap: wrap;
  border-bottom: 1px solid @border-toggle;

  &:first-of-type {
    border-top: 1px solid @border-toggle;
  }

  &:nth-of-type(2) {
    padding-top: 12px;
    padding-bottom: 17px;
  }

  &:nth-of-type(n+3) {
    padding-bottom: 17px;
  }
}

.add-item__title {
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: @item-title;
  font-weight: 400;
  margin: 0;
  margin-bottom: 13px;
  align-self: flex-start;
  padding-left: 3px;
}

.add-item__options {
  padding-left: 1px;
  padding-right: 2px;
  font-family: @font-text;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: @basic-dark-text;
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 15px;
}

@media (min-width: @tablet-width) {
  .add-item {
    width: 708px;
    flex-direction: row;
    min-height: 139px;
    border: 1px solid @border-toggle;
    box-sizing: border-box;
    margin: 0;
    border-collapse: collapse;
    justify-content: space-between;
    padding: 25px;
    padding-left: 35px;
    padding-top: 27px;
    padding-right: 38px;

    &:nth-of-type(n+2) {
      border-top: none;
    }

    &:nth-of-type(2) {
      padding-bottom: 20px;
      padding-top: 27px;
    }

    &:nth-of-type(3) {
      padding-bottom: 22px;
      padding-top: 27px;
    }

    &:nth-of-type(4) {
      padding-bottom: 22px;
      padding-top: 27px;
    }

    &:nth-of-type(2) .add-item__options {
      width: 160px;
    }

    &:nth-of-type(3) .add-item__options {
      width: 140px;
    }

    &:nth-of-type(4) .add-item__options {
      width: 216px;
    }
  }

  .add-item__options {
    width: 226px;
    font-size: 16px;
    line-height: 20px;
    padding-right: 0;
    padding-top: 2px;
  }

  .add-item__title {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: @desktop-width) {
  .add-item {
    width: 895px;
    flex-direction: row;
    min-height: 72px;
    border: none;
    border-top: 1px solid @border-toggle;
    border-bottom: 1px solid @border-toggle;
    box-sizing: border-box;
    margin: 0;
    border-collapse: collapse;
    justify-content: space-between;
    padding: 13px;
    padding-left: 0;
    padding-right: 0;

    &:nth-of-type(n+2) {
      padding-top: 10px;
      padding-bottom: 9px;
    }

    &:nth-of-type(n+2) .add-item__options {
      width: 286px;
    }
  }

  .add-item__options {
    margin: 0;
    align-self: center;
    display: flex;
    justify-content: space-between;
    margin-left: 123px;
    width: 286px;
    margin-top: 8px;
  }

  .add-item__title {
    padding-left: 0;
    width: 161px;
    margin: 0;
    align-self: center;
    text-align: left;
  }

  .add-item__price {
    margin: 0;
    margin-left: 100px;
    text-align: left;
  }

  .add-item__packaging {
    align-self: center;
  }
}
