.add-item {
  font-family: @font-header;
  display: flex;
  align-self: center;
  flex-direction: column;
  width: 282px;
  margin-top: 13px;
  margin-bottom: 19px;
  flex-wrap: wrap;
}

.add-item__title {
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: @item-title;
  font-weight: 400;
  margin: 0;
  margin-bottom: 13px;
  align-self: flex-start;
}

.add-item__options {
  font-family: @font-text;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: @basic-dark-text;
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 15px;
}

@media (min-width: @tablet-width) {
  .add-item {
    width: 708px;
    flex-direction: row;
    min-height: 139px;
    border: 1px solid @border-toggle;
    box-sizing: border-box;
    margin: 0;
    border-collapse: collapse;
    justify-content: space-between;
    padding: 26px;
    padding-left: 38px;
    padding-right: 38px;

    &:nth-of-type(n+2) {
      border-top: none;
    }
  }

  .add-item__options {
    width: 226px;
    font-size: 16px;
    line-height: 20px;
  }

  .add-item__title {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: @desktop-width) {
  .add-item {
    width: 895px;
    flex-direction: row;
    min-height: 72px;
    border: none;
    border-top: 1px solid @border-toggle;
    border-bottom: 1px solid @border-toggle;
    box-sizing: border-box;
    margin: 0;
    border-collapse: collapse;
    justify-content: space-between;
    padding: 16px;
    padding-left: 0;
    padding-right: 0;
  }

  .add-item__options {
    margin: 0;
    align-self: center;
    display: flex;
    justify-content: space-between;
    margin-left: 120px;
    width: 286px;
  }

  .add-item__title {
    width: 161px;
    margin: 0;
    align-self: center;
    text-align: left;
  }

  .add-item__price {
    margin: 0;
    margin-left: 100px;
    text-align: left;
  }

  .add-item__packaging {
    align-self: center;
  }
}
