.add-catalog {
  color: @basic-text;
  font-weight: 400;
  font-family: @font-header;
  width: 320px;
  box-sizing: border-box;
}

.add-catalog__title {
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  margin: 0;
  margin-left: 20px;
  padding-top: 28px;
  padding-bottom: 35px;
  font-weight: 400;
}

.add-catalog__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: cen;
  margin: 0;
  padding: 0;
}

.add-catalog__button {
  font-weight: 400;
  font-size: 16px;
  line-height: 0;
  text-align: center;
  text-transform: uppercase;
  color: @basic-bck;
  background-color: @basic-theme;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 100px;
  padding-right: 100px;
  align-self: center;
  cursor: pointer;
  width: 280px;
  box-sizing: border-box;
}

@media (min-width: @tablet-width) {
  .add-catalog {
    width: 708px;
    grid-column-start: 1;
    grid-column-end: -1;
  }

  .add-catalog__title {
    padding-bottom: 80px;
    text-align: left;
    flex-grow: 3;
    width: 400px;
    margin-left: 37px;
    font-size: 36px;
    line-height: 36px;
  }

  .add-catalog__button {
    flex-grow: 4;
    width: 632px;
    box-sizing: border-box;
  }
}

@media (min-width: @desktop-width) {
  .add-catalog {
    width: 1440px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: content-box;
    align-self: center;
  }

  .add-catalog__title {
    padding-bottom: 81px;
    text-align: left;
    min-width: 1400px;
    margin-left: 0;
  }

  .add-catalog__button {
    flex-grow: 0;
    width: 244px;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 26px;
    padding-right: 26px;
  }

  .add-catalog__list {
    width: 896px;
    box-sizing: border-box;
  }
}
