.catalog {
  color: @basic-text;
  font-weight: 400;
  font-family: @font-header;
}

.catalog__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.catalog__list {
  list-style: none;
  font-weight: 400;
}

.catalog__button {
  font-weight: 400;
  font-size: 16px;
  line-height: 0;
  text-align: center;
  text-transform: uppercase;
  color: @basic-bck;
  background-color: @basic-theme;
}

.item__all-text {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.item__all-description {
  font-size: 12px;
  line-height: 16px;
  color: @basic-grey;
  font-family: @font-text;
}

.item__all-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 0;
  text-align: center;
  text-transform: uppercase;
  color: @basic-grey;
  background-color: @features-footer;
}
