.copyright {
  font-family: @font-header;
  margin-bottom: 22px;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.copyright__text {
  font-family: @font-text;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: @basic-dark-text;
  align-self: center;
}

.copyright__logo {
  align-self: center;
}
