// Начните писать стили здесь
.features {
  font-family: @font-face;
  color: #000000;
  font-weight: normal;
}

.features-title {
  font-size: 36px;
  line-height: 40px;
  text-align: center;
}

.features-list__item {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  list-style: none;
}
