.features {
  color: @basic-text;
  font-weight: 400;
}

.features__title {
  font-size: 36px;
  line-height: 40px;
  text-align: center;
}

.features-list__item {
  font-family: @font-text;
  font-size: 14px;
  line-height: 18px;
  color: @basic-grey;
  list-style: none;
}
