.features {
  font-family: "Oswald", sans-serif;
  color: @basic-black;
  font-weight: normal;
}

.features-title {
  font-size: 36px;
  line-height: 40px;
  text-align: center;
}

.features-list__item {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: @basic-grey;
  list-style: none;
}
