.footer {
  width: 320px;
  background-color: @features-footer;
  display: grid;
  grid-template-columns: repeat(1, 320px);
  column-gap: 20px;
  grid-column-start: 1;
  grid-column-end: -1;
}

.footer__logo {
  font-family: @font-header;
  padding-top: 39px;
  padding-bottom: 32px;
  padding-left: 96px;
  padding-right: 96px;
}

@media (min-width: @tablet-width) {
  .footer {
    width: 708px;
    padding-top: 55px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    grid-template-columns: 1fr repeat(4, 132px) 1fr;
    column-gap: 60px;
    grid-column-start: 1;
    grid-column-end: -1;
  }

  .footer__logo {
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .footer {
    width: 1220px;
    padding-top: 57px;
    padding-left: 110px;
    padding-right: 110px;
    grid-template-columns: 1fr repeat(4, 245px) 1fr;
    column-gap: 80px;
  }
}
