.fs-additional {
  font-family: @font-header;
  width: 320px;
  color: @basic-text;
  border: none;
  padding: 0;
  margin-top: 23px;
  padding-left: 20px;
  box-sizing: border-box;
}

.fs-additional__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.fs-additional__head {
  padding: 0;
  margin-top: 0;
  margin-bottom: 36px;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background-color: @basic-theme;
    width: 136px;
    height: 2px;
    top: 15px;
    left: 162px;
  }
}

.fs-additional__item {
  margin-top: 20px;

  &:first-of-type {
    margin-top: 0;
  }

  &:nth-of-type(3) {
    margin-top: 17px;
  }
}


.fs-additional__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-left: 45px;
  position: relative;
  cursor: pointer;

  &:active {
    opacity: 0.3;

    &::before {
      border-color: @radio-active;
    }
  }

  &:hover {
    &::before {
      border-color: @border-checkbox;
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 28px;
    height: 28px;
    left: -47px;
    top: -2px;
    border: 1px solid @border-toggle;
    cursor: pointer;
  }
}

.fs-additional__field {
  &:checked + .fs-additional__title::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 14px;
    left: -41px;
    top: 7px;
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    cursor: pointer;
  }
}

@media (min-width: @tablet-width) {
  .fs-additional {
    width: 630px;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0;
  }

  .fs-additional__head {
    margin-bottom: 61px;
    flex-grow: 1;
    min-width: 211px;
    font-size: 36px;
    line-height: 36px;

    &::after {
      width: 100vw;
      height: 2px;
      top: 22px;
      left: -69px;
      overflow: hidden;
      z-index: -2;
    }

    &::before {
      content: "";
      position: absolute;
      background-color: @basic-bck;
      width: 292px;
      height: 36px;
      top: 0;
      left: -40px;
      z-index: -1;
    }
  }

  .fs-additional__list {
    font-size: 20px;
    line-height: 30px;
    flex-direction: row;
    width: 565px;
    flex-grow: 2;
    display: flex;
    flex-wrap: wrap;
  }

  .fs-additional__item {
    min-width: 68px;
    margin-top: 0;
    display: block;
    width: 221px;

    &:nth-of-type(n+3) {
      margin-top: 44px;
    }

    &:nth-of-type(2n) {
      margin-left: 123px;
    }
  }

  .fs-additional__title {
    font-size: 20px;
    line-height: 30px;
    margin-left: 58px;

    &::before {
      width: 38px;
      height: 38px;
      left: -58px;
      top: -4px;
    }
  }

  .fs-additional__field {
    &:checked + .fs-additional__title::after {
      width: 18px;
      height: 14px;
      left: -47px;
      top: 9px;
    }
  }
}

@media (min-width: @desktop-width) {
  .fs-additional {
    margin-top: 62px;
    width: 1220px;
  }

  .fs-additional__list {
    width: 1220px;
    flex-grow: 2;
    display: flex;
    flex-wrap: wrap;
  }

  .fs-additional__item {
    &:nth-of-type(n+3) {
      margin-top: 0;
    }

    &:nth-of-type(2n) {
      margin-left: 0;
    }

    &:nth-of-type(n+2) {
      margin-left: 104px;
    }
  }

  .fs-additional__head {
    &::after {
      width: calc(120vw + 50%);
      height: 2px;
      top: 22px;
      left: calc(-50vw + 50%);
      right: 0;
    }

    &::before {
      top: 0;
      left: -40px;
    }
  }

  .fs-additional__title {
    margin-left: 56px;
  }
}
