.fs-additional {
  font-family: @font-header;
  width: 280px;
  color: @basic-text;
  border: none;
  padding: 0;
  margin-top: 27px;
}

.fs-additional__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.fs-additional__head {
  margin-top: 0;
  margin-bottom: 34px;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background-color: @basic-theme;
    width: 120px;
    height: 2px;
    top: 15px;
    left: 160px;
  }
}

.fs-additional__item {
  margin-top: 12px;
}


.fs-additional__item:first-of-type {
  margin-top: 0;
}

.fs-additional__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-left: 46px;
  position: relative;
  cursor: pointer;

  &:active {
    opacity: 0.3;

    &::before {
      border-color: @radio-active;
    }
  }

  &:hover {
    &::before {
      border-color: @border-checkbox;
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    left: -45px;
    top: -5px;
    border: 1px solid @border-toggle;
    cursor: pointer;
  }
}

.fs-additional__field {
  &:checked + .fs-additional__title::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 14px;
    left: -37px;
    top: 5px;
    background-image: url("../../img/icon-tick.svg");
    background-repeat: no-repeat;
    cursor: pointer;
  }
}

@media (min-width: @tablet-width) {
  .fs-additional {
    width: 630px;
    margin-top: 65px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .fs-additional__head {
    margin-bottom: 57px;
    flex-grow: 1;
    min-width: 211px;
    font-size: 36px;
    line-height: 36px;

    &::after {
      width: 450px;
      height: 2px;
      top: 20px;
      left: 245px;
    }

    &::before {
      content: "";
      position: absolute;
      background-color: @basic-theme;
      width: 30px;
      height: 2px;
      top: 20px;
      left: -72px;
    }
  }

  .fs-additional__list {
    font-size: 20px;
    line-height: 30px;
    flex-direction: row;
    width: 565px;
    flex-grow: 2;
    display: flex;
    flex-wrap: wrap;
  }

  .fs-additional__item {
    min-width: 68px;
    margin-top: 0;
    display: block;
    width: 221px;

    &:nth-of-type(n+3) {
      margin-top: 32px;
    }

    &:nth-of-type(2n) {
      margin-left: 123px;
    }
  }

  .fs-additional__title {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .fs-additional {
    margin-top: 67px;
    width: 1220px;
  }

  .fs-additional__list {
    width: 1220px;
    flex-grow: 2;
    display: flex;
    flex-wrap: wrap;
  }

  .fs-additional__item {
    &:nth-of-type(n+3) {
      margin-top: 0;
    }

    &:nth-of-type(2n) {
      margin-left: 0;
    }

    &:nth-of-type(n+2) {
      margin-left: 104px;
    }
  }

  .fs-additional__head {
    &::after {
      width: 1080px;
      height: 2px;
      top: 20px;
      right: -835px;
    }

    &::before {
      width: 70px;
      height: 2px;
      top: 20px;
      left: -112px;
    }
  }
}
