.fs-contacts {
  font-family: @font-header;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  flex-direction: column;
  width: 320px;
  border: none;
  padding: 0;
  margin-bottom: 0;
  padding-left: 20px;
  box-sizing: border-box;
}

.fs-contacts__head {
  padding: 0;
  width: 187px;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: @basic-text;
  padding-top: 26px;
  margin-bottom: 33px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background-color: @basic-theme;
    width: 99px;
    height: 2px;
    top: 42px;
    right: -113px;
  }
}

.fs-contacts__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  align-self: center;
  min-width: 40px;
  color: @basic-dark-text;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 20px;
    top: 2px;
    left: 247px;
    background-repeat: no-repeat;

    &:active {
      fill: @basic-theme;
    }
  }
}

.fs-contacts__mail {
  &::before {
    height: 14px;
    background-image: url("../img/icon-mail.svg");
    background-size: 17px 13px;
  }
}

.fs-contacts__tel {
  &::before {
    height: 20px;
    background-image: url("../img/icon-phone.svg");
    background-size: 20px 20px;
    top: 0;
  }
}

.fs-contacts__field {
  padding-top: 13px;
  padding-bottom: 15px;
  padding-left: 14px;
  padding-right: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid @border-toggle;
  color: @basic-dark-text;
  flex-grow: 0.5;
  align-self: center;
  font-family: @font-header;
  box-sizing: border-box;
  height: 45px;

  &:hover {
    border-color: @border-toggle;
  }

  &:active {
    border: 2px solid @basic-dark-text;
    padding-top: 12px;
    padding-bottom: 14px;
    padding-left: 13px;
    padding-right: 29px;
  }
}

.fs-contacts__row {
  height: 45px;
  margin-bottom: 13px;
  display: flex;
  width: 281px;
  box-sizing: border-box;
}

.fs-contacts__row:last-of-type {
  margin-bottom: 0;
}

.fs-contacts__field-mail {
  margin-left: 11px;
  width: 219px;
}

.fs-contacts__field-tel {
  margin-left: 15px;
  width: 204px;
}

.fs-contacts__field:active + .fs-contacts__title::before {
  fill: @basic-theme;
}


@media (min-width: @tablet-width) {
  .fs-contacts {
    width: 630px;
    margin-top: 75px;
    padding-left: 0;
  }

  .fs-contacts__head {
    padding-top: 0;
    font-size: 36px;
    line-height: 36px;
    width: auto;
    margin-bottom: 76px;

    &::after {
      width: 100vw;
      height: 2px;
      top: 22px;
      left: -69px;
      overflow: hidden;
      z-index: -2;
    }

    &::before {
      content: "";
      position: absolute;
      background-color: @basic-bck;
      width: 593px;
      height: 36px;
      top: 0;
      left: -38px;
      z-index: -1;
    }
  }

  .fs-contacts__field {
    font-size: 20px;
    line-height: 30px;
    min-width: 535px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 19px;
    padding-right: 50px;
    height: 52px;

    &:active {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 18px;
      padding-right: 49px;
    }
  }

  .fs-contacts__title {
    font-size: 20px;
    line-height: 30px;
    min-width: 63px;
  }

  .fs-contacts__row {
    height: 52px;
    margin-bottom: 20px;
    width: auto;
  }

  .fs-contacts__row:last-of-type {
    margin-bottom: 0;
  }

  .fs-contacts__mail {
    &::before {
      top: 9px;
      left: 597px;
    }
  }

  .fs-contacts__tel {
    &::before {
      top: 5px;
      left: 595px;
    }
  }

  .fs-contacts__field-mail {
    margin-left: 20px;
    width: 551px;
  }

  .fs-contacts__field-tel {
    margin-left: 15px;
    width: 535px;
  }
}

@media (min-width: @desktop-width) {
  .fs-contacts {
    margin-top: 69px;
    flex-direction: row;
    width: 1220px;
    box-sizing: border-box;
  }

  .fs-contacts__row {
    margin-bottom: 0;
    max-width: 569px;
    align-self: center;

    &:nth-of-type(2n) {
      margin-left: 78px;
    }

    &:nth-of-type(n+3) {
      margin-top: 20px;
    }
  }

  .fs-contacts__rows {
    display: flex;
  }

  .fs-contacts__head {
    margin-bottom: 75px;
    flex-grow: 2;

    &::after {
      width: 100vw;
      height: 2px;
      top: 22px;
      left: -110px;
    }

    &::before {
      width: 592px;
      top: 0;
      left: -40px;
    }
  }

  .fs-contacts__field {
    box-sizing: border-box;
    min-width: 472px;
    margin-left: 5px;
  }

  .fs-contacts__field-tel {
    margin-left: 37px;
  }

  .fs-contacts__field-mail {
    margin-left: 21px;
  }

  .fs-contacts__title {
    flex-grow: 0.5;
  }

  .fs-contacts__mail {
    &::before {
      top: 8px;
      left: 532px;
    }
  }

  .fs-contacts__tel {
    &::before {
      top: 4px;
      left: 535px;
    }
  }
}
