.fs-comments {
  font-family: @font-header;
  width: 280px;
  border: none;
  padding: 0;
  margin-top: 27px;
  margin-bottom: 0;
}

.fs-comments__head {
  margin-top: 0;
  margin-bottom: 34px;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background-color: @basic-theme;
    width: 140px;
    height: 2px;
    top: 15px;
    left: 140px;
  }
}

.fs-comments__field {
  font-family: @font-header;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  border: 1px solid @border-form;
  color: @basic-dark-text;
  width: 280px;
  box-sizing: border-box;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 15px;
  padding-right: 12px;

  &:hover {
    border-color: @border-toggle;
  }

  &:active {
    border: 2px solid @basic-dark-text;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 14px;
    padding-right: 11px;
  }
}

@media (min-width: @tablet-width) {
  .fs-comments {
    width: 630px;
    margin: 0;
    margin-top: 65px;
  }

  .fs-comments__head {
    margin-bottom: 76px;
    font-size: 36px;
    line-height: 36px;

    &::after {
      width: 100vw;
      height: 2px;
      top: 20px;
      left: -69px;
      overflow: hidden;
      z-index: -2;
    }

    &::before {
      content: "";
      position: absolute;
      background-color: @basic-bck;
      width: 259px;
      height: 36px;
      top: 0;
      left: -30px;
      z-index: -1;
    }
  }

  .fs-comments__field {
    font-size: 20px;
    line-height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 19px;
    padding-right: 19px;
    width: 631px;

    &:active {
      padding-top: 9px;
      padding-bottom: 9px;
      padding-left: 18px;
      padding-right: 18px;
    }
  }
}

@media (min-width: @desktop-width) {
  .fs-comments {
    margin-top: 69px;
    width: 1220px;
  }

  .fs-comments__field {
    width: 1220px;
  }

  .fs-comments__head {
    &::after {
      width: 100vw;
      height: 2px;
      top: 20px;
      left: -113px;
    }

    &::before {
      width: 262px;
      top: 0;
      left: -40px;
    }
  }
}
