.fs-name {
  font-family: @font-header;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  flex-direction: column;
  width: 320px;
  border: none;
  padding: 0;
  padding-bottom: 24px;
  border-bottom: 1px solid @social-lines;
  color: @basic-dark-text;
  padding-left: 20px;
  box-sizing: border-box;
}

.fs-name__field {
  padding-top: 13px;
  padding-bottom: 15px;
  padding-left: 14px;
  padding-right: 14px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  flex-grow: 3;
  align-self: center;
  min-width: 172px;
  border: 1px solid @border-form;
  color: @basic-dark-text;
  font-family: @font-header;
  box-sizing: border-box;
  height: 45px;

  &:hover {
    border-color: @border-toggle;
  }

  &:active {
    border: 2px solid @basic-dark-text;
    padding-top: 12px;
    padding-bottom: 14px;
    padding-left: 13px;
    padding-right: 13px;
  }
}

.fs-active:invalid {
  outline: 1px solid @error;
}

.fs-name__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  flex-grow: 1;
  align-self: center;
  min-width: 39px;
}

.fs-name__title-age {
  min-width: 94px;
}

.fs-name__row {
  height: 45px;
  margin-bottom: 13px;
  display: flex;
  width: 281px;
  box-sizing: border-box;
}

.fs-name__row:last-of-type {
  margin-bottom: 0;
}

.fs-name__field-age {
  margin-left: 14px;
}

.fs-name__field-weight {
  margin-left: 12px;
}

@media (min-width: @tablet-width) {
  .fs-name {
    border: none;
    width: 630px;
    padding-bottom: 0;
    padding-left: 2px;
  }

  .fs-name__row {
    height: 52px;
    margin-bottom: 20px;
    width: 630px;
  }

  .fs-name__field {
    min-width: 497px;
    font-size: 20px;
    line-height: 30px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 18px;
    padding-right: 18px;
    height: 52px;

    &:active {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 17px;
      padding-right: 17px;
    }
  }

  .fs-name__field-age {
    margin-left: 16px;
  }

  .fs-name__field-weight {
    margin-left: 8px;
  }

  .fs-name__field-name {
    width: 567px;
    margin-left: 16px;
  }

  .fs-name__title {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .fs-name {
    width: 569px;
  }

  .fs-name__row {
    width: 569px;
  }

  .fs-name__field {
    min-width: 436px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 18px;
    padding-right: 20px;

    &:active {
      padding-top: 9px;
      padding-bottom: 9px;
      padding-left: 17px;
      padding-right: 19px;
    }
  }

  .fs-name__field-age {
    margin-left: 16px;
  }

  .fs-name__field-weight {
    margin-left: 5px;
  }

  .fs-name__field-name {
    margin-left: 20px;
  }
}
