.fs-program {
  font-family: @font-header;
  width: 280px;
  list-style: none;
  color: @item-title;
  border: none;
  padding: 0;
  margin-top: 20px;
  padding-bottom: 22px;
  border-bottom: 1px solid @social-lines;
}

.fs-program__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.fs-program__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.fs-program__item {
  margin-bottom: 15px;
}

.fs-program__item:last-of-type {
  margin-bottom: 0;
}
