.header {
  color: @basic-bck;
  font-weight: 400;
  font-family: @font-header;
  min-height: 480px;
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  width: 320px;
  grid-template-columns: repeat(1, 320px);
  column-gap: 20px;
  grid-column-start: 1;
  grid-column-end: -1;

  &::before {
    content: "";
    background-image: url("../img/index-background-mobile@1x.jpg");
    width: 320px;
    height: 305px;
    position: absolute;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    z-index: -1;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index-background-mobile@2x.jpg");
      background-size: 320px auto;
    }
  }
}


.header__product {
  margin-left: 20px;
  margin-top: 29px;
  align-self: center;
}

.header__slogan {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: @basic-bck;
  margin: 0;
  font-weight: 400;
  width: 198px;
  margin-top: 25px;
  align-self: center;
  text-align: center;
}

.header__choose-program {
  text-decoration: none;
  color: @basic-bck;
  background-color: @basic-theme;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  width: 280px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 44px;
  padding-left: 44px;
  box-sizing: border-box;
  align-self: center;

  &:hover {
    background-color: @button-hover;
  }

  &:active {
    background-color: @button-hover;
    color: @button-active-green;
  }
}

.header__title {
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: @basic-bck;
  font-weight: 400;
  margin: 0;
  width: 249px;
  margin-top: 27px;
  align-self: center;
}

@media (min-width: @tablet-width) {
  .header__product {
    position: absolute;
    top: 255px;
    left: -20px;
    z-index: -1;
    margin-top: 0;
    width: 709px;
    height: 609px;
  }

  .header__title {
    text-align: left;
    color: @basic-text;
    font-size: 60px;
    line-height: 60px;
    width: 414px;
    margin-top: 62px;
    align-self: flex-start;
    margin-left: 87px;
  }

  .header__slogan {
    color: @basic-text;
    font-size: 20px;
    line-height: 20px;
    width: 283px;
    margin-top: 41px;
    margin-bottom: 49px;
    text-align: left;
    align-self: flex-start;
    margin-left: 87px;
  }

  .header {
    background-image: none;
    min-height: 800px;
    width: 708px;
    align-self: center;
    margin-bottom: 60px;

    &::before {
      display: none;
    }
  }

  .header__choose-program {
    width: 244px;
    align-self: flex-start;
    margin-left: 87px;
    font-size: 20px;
    line-height: 0;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 26px;
    padding-left: 26px;
    height: 54px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}


@media (min-width: @desktop-width) {
  .header {
    width: 1220px;
    min-height: 581px;
    margin-bottom: 0;
    grid-column-start: 1;
    grid-column-end: -1;

    &::before {
      display: block;
      width: calc(100vw - 59%);
      height: 696px;
      position: absolute;
      background-color: #63a848;
      background-size: auto 100%;
      top: -115px;
      left: 610px;
      background-image: url("../img/index-background-desktop@1x.jpg");
      overflow: hidden;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
        background-size: 720px auto;
      }
    }
  }

  .header__title {
    margin-top: 80px;
    z-index: 2;
  }

  .header__slogan {
    width: 283px;
    margin-top: 40px;
    z-index: 2;
  }

  .header__choose-program {
    z-index: 2;
  }

  .header__product {
    top: 32px;
    left: 430px;
    z-index: 1;
    width: 552px;
    height: 499px;
  }
}
