.item {
  font-family: @font-header;
}

.item__title {
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-transform: uppercase;
  color: @item-title;
  font-weight: 400;
}

.item__options {
  font-size: 12px;
  line-height: 16px;
  font-family: @font-text;
  color: @basic-dark-text;
}

.item__all-text {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.item__all-description {
  font-size: 12px;
  line-height: 16px;
  color: @basic-dark-text;
  font-family: @font-text;
}

.item__all-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 0;
  text-align: center;
  text-transform: uppercase;
  color: @basic-dark-text;
  background-color: @features-footer;
}
