.item {
  font-family: @font-header;
}

.item__title {
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-transform: uppercase;
  color: @item-title;
  font-weight: 400;
}

.item__options {
  font-size: 12px;
  line-height: 16px;
  font-family: @font-text;
  color: @basic-grey;
}
