.main-nav {
  background-color: @basic-bck;
  color: @basic-text;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  font-family: @font-header;
}

.main-nav__list {
  list-style: none;
}

.main-nav__link {
  text-decoration: none;
  color: @basic-text;
}
