// Начните писать стили здесь
.main-nav {
  background-color: @white;
  font-family: "Oswald", sans-serif;
  color: @black;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}

.main-nav__list {
  list-style: none;
}

.site-list__item a {
  text-decoration: none;
  color: @black;
}
