.main-nav {
  background-color: @basic-bck;
  color: @basic-text;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  font-family: @font-header;
  grid-template-columns: repeat(1, 320px);
  column-gap: 20px;
  grid-column-start: 1;
  grid-column-end: -1;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.main-nav__link {
  text-decoration: none;
  color: @basic-text;
  font-weight: 500;
}

.main-nav__item {
  width: 320px;
  align-self: center;
  border-top: 1px solid @border-menu;
  padding-top: 22px;
  padding-bottom: 24px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .main-nav {
    display: flex;
    margin-left: 95px;
    width: 440px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: center;
  }

  .main-nav__list {
    display: flex;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .main-nav__link {
    font-size: 18px;
    line-height: 24px;
  }

  .main-nav__item {
    width: auto;
    min-width: 64px;
    margin-left: 35px;
    border: none;
    padding-top: 0;
    padding-bottom: 0;
  }

  .main-nav__item:first-of-type {
    margin-left: 0;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    margin-left: 0;
    margin-right: 110px;
    width: 483px;
    background-color: transparent;
  }

  .main-nav-index__link {
    color: @basic-bck;
  }

  .main-nav__link {
    font-size: 20px;
    line-height: 30px;
  }
}
