.map {
  font-family: "Arial", sans-serif;
  color: @menu-catalog-form-etc;
  font-weight: normal;
}

.map-text {
  font-size: 14px;
  line-height: 20px;
  color: @basic-grey;
  font-style: normal;
}

.map-text-invite {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @menu-catalog-form-etc;
  font-family: "Oswald", sans-serif;
}
