.map {
  font-family: @font-text;
  color: @form-etc;
  font-weight: 400;
  width: 320px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: @features-footer;
  position: relative;
  align-self: center;
}

.map__iframe {
  height: 362px;
  position: absolute;
  top: 113px;
  width: 100vw;
  overflow: hidden;
  left: calc(-50vw + 50%);
}

.map__pic {
  width: 320px;
  height: 362px;
}

.map__text {
  font-size: 14px;
  line-height: 20px;
  color: @basic-dark-text;
  min-height: 50px;
  width: 140px;
  font-style: normal;
  font-family: @font-text;
  padding-top: 3px;
}

.map__invite {
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: @form-etc;
  width: 140px;
  font-family: @font-header;
}

.map__address {
  padding: 20px;
  padding-top: 26px;
  padding-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: @features-footer;
  position: relative;
  box-sizing: border-box;
  height: 114px;
}

.map__address:not(.map__index) {
  &::before {
    content: "";
    position: absolute;
    background-color: @features-footer;
    z-index: -1;
    width: 100vw;
    height: 113px;
    top: 0;
    overflow: hidden;
    left: calc(-50vw + 50%);
  }
}

.map__index {
  background-color: @basic-bck;
}

@media (min-width: @tablet-width) {
  .map {
    width: 768px;
    background-color: transparent;
    align-self: center;
    display: flex;
    margin-top: 48px;
  }

  .map-catalog {
    margin-top: 0;
  }

  .map__picture {
    height: 400px;
  }

  .map__address {
    width: 768px;
    box-sizing: border-box;
    padding-top: 65px;
    padding-left: 71px;
    padding-right: 72px;
    padding-bottom: 58px;
    height: 201px;
    line-height: 45px;
  }

  .map__text {
    width: 159px;
    text-align: right;
    font-size: 16px;
    line-height: 20px;
    padding-top: 0;
  }

  .map__invite {
    font-size: 20px;
    line-height: 21px;
    width: 171px;
    height: 83px;
  }

  .map__iframe {
    top: 201px;
    width: 100vw;
    height: 400px;
    overflow: hidden;
    left: calc(-50vw + 50%);
  }

  .map__pic {
    width: 768px;
    height: 400px;
  }

  .map__photo {
    width: 768px;
    height: 400px;
  }

  .map__address:not(.map__index) {
    &::before {
      height: 201px;
    }
  }
}

@media (min-width: @desktop-width) {
  .map {
    width: 1425px;
    position: relative;
    grid-column-start: 1;
    grid-column-end: -1;
    margin-top: 0;
    display: flex;
  }

  .map__address {
    position: absolute;
    top: 95px;
    left: 110px;
    padding: 68px;
    padding-left: 75px;
    padding-right: 85px;
    padding-bottom: 60px;
    width: 570px;
    background-color: @basic-bck;
    z-index: 3;

    &::before {
      display: none;
    }
  }

  .map__invite {
    width: 163px;
  }

  .map__text {
    text-align: left;
  }

  .map__iframe {
    width: calc(100vw - 0.5%);
    height: 400px;
    overflow: hidden;
    top: 0;
    left: calc(-50vw + 50%);
  }

  .map__pic {
    width: 1425px;
    height: 400px;
  }

  .map__photo {
    width: 1425px;
    height: 400px;
    overflow: hidden;
  }
}
