.map {
  font-family: @font-text;
  color: @form-etc;
  font-weight: 400;
  width: 320px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: @features-footer;
  position: relative;
}

.map__iframe {
  position: absolute;
  top: 100px;
  left: 0;
  z-index: 2;
  width: 320px;
  height: 362px;
}

.map__text {
  font-size: 14px;
  line-height: 20px;
  color: @basic-dark-text;
  min-height: 50px;
  width: 140px;
  font-style: normal;
  font-family: @font-text;
}

.map__invite {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @form-etc;
  width: 140px;
  font-family: @font-header;
}

.map__address {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: @features-footer;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 240px;
    left: 134px;
    width: 124px;
    height: 106px;
    background-image: url("../img/map-pin.png");
    background-size: 57px 53px;
    background-repeat: no-repeat;
  }
}

.map__index {
  background-color: @basic-bck;
}

.map__photo {
  background-color: @features-footer;
}

@media (min-width: @tablet-width) {
  .map {
    width: 768px;
    background-color: transparent;
    align-self: center;
    display: flex;
  }

  .map__picture {
    height: 400px;
  }

  .map__address {
    width: 768px;
    box-sizing: border-box;
    padding-top: 65px;
    padding-left: 71px;
    padding-right: 72px;
    padding-bottom: 58px;

    &::before {
      top: 340px;
      left: 333px;
      background-size: 113px 106px;
      background-repeat: no-repeat;
    }
  }

  .map__photo {
    width: 768px;
    height: 400px;
    overflow: hidden;
  }

  .map__text {
    width: 159px;
    text-align: right;
    font-size: 16px;
    line-height: 20px;
  }

  .map__invite {
    font-size: 20px;
    line-height: 21px;
  }

  .map__iframe {
    top: 186px;
    width: 768px;
    height: 400px;
    overflow: hidden;
  }
}

@media (min-width: @desktop-width) {
  .map {
    width: 1440px;
    position: relative;
  }

  .map__address {
    position: absolute;
    top: 95px;
    left: 110px;
    padding: 60px;
    width: 570px;
    background-color: @basic-bck;
    z-index: 3;

    &::before {
      top: 0;
      left: 780px;
      background-size: 113px 106px;
      background-repeat: no-repeat;
    }
  }

  .map__text {
    text-align: left;
  }

  .map__photo {
    width: 1440px;
    height: 400px;
  }

  .map__iframe {
    top: 0;
    width: 100vw;
    height: 400px;
    overflow: hidden;
  }
}
