.page-main__catalog {
  font-family: "Oswald", sans-serif;
  color: @basic-black;
  font-weight: normal;
}

.catalog__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
}

.catalog__list {
  list-style: none;
  font-weight: normal;
}

.item__title {
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-transform: uppercase;
  color: @item-title-chooseprog;
  font-weight: normal;
}

.item__options {
  font-size: 12px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  color: @basic-grey;
}

.catalog__button {
  font-weight: normal;
  font-size: 16px;
  line-height: 0px;
  text-align: center;
  text-transform: uppercase;
  color: @basic-white;
  background-color: @basic-green;
}


.open-all__text {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.open-all__description {
  font-size: 12px;
  line-height: 16px;
  color: @basic-grey;
  font-family: "Arial", sans-serif;
}

.open-all__link {
  font-weight: normal;
  font-size: 16px;
  line-height: 0px;
  text-align: center;
  text-transform: uppercase;
  color: @basic-grey;
  background-color: @features-sample-footer-catalogbutton;
}
