.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip-path: rect(1px, 1px, 1px, 1px);
}

.page-main {
  font-family: @font-header;
  width: 320px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page__body {
  margin: 0;
}

@media (min-width: @tablet-width) {
  .page-main {
    width: 768px;
    box-sizing: border-box;
    grid-template-columns: 1fr repeat(4, 132px) 1fr;
    column-gap: 60px;
    grid-column-start: 1;
    grid-column-end: -1;
  }
}

@media (min-width: @desktop-width) {
  .page-main {
    width: 1440px;
    box-sizing: border-box;
    grid-template-columns: 1fr repeat(4, 245px) 1fr;
    column-gap: 80px;
  }
}
