.page-header {
  width: 320px;
}

.page-header__logo {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.page-header__link {
  align-self: center;
}

.page-header__menu {
  background-image: url("../../img/icon-mobile-menu.svg");
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  padding: 0;
  width: 24px;
  height: 20px;
  align-self: center;
}

@media (min-width: @tablet-width) {
  .page-header {
    width: 767px;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
  }

  .page-header__menu {
    display: none;
  }

  .page-header__logo {
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    width: 1440px;
    box-sizing: border-box;
    padding-left: 110px;
    padding-right: 110px;
  }
}
