// Начните писать стили здесь
.page-main__catalog {
  font-family: "Oswald", sans-serif;
  color: @black;
  font-weight: normal;
}

.catalog__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
}

.catalog__list {
  list-style: none;
  font-weight: normal;
}

.item__title {
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-transform: uppercase;
  color: @black-2;
  font-weight: normal;
}

.item__options {
  font-size: 12px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  color: @grey;
}

.catalog__button {
  font-weight: normal;
  font-size: 16px;
  line-height: 0px;
  text-align: center;
  text-transform: uppercase;
  color: @white;
  background-color: @green;
}
