.page-header {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  align-self: center;
  grid-column-start: 1;
  grid-column-end: -1;
}

.page-header__photo {
  width: 190px;
  height: 38px;
  background-size: 190px 38px;
}

.page-header__logo {
  align-self: center;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 11px;
  padding-top: 11px;
  width: 320px;
  box-sizing: border-box;

  &:hover:not(.page-header__logo-active) {
    opacity: 0.8;
  }

  &:active:not(.page-header__logo-active) {
    opacity: 0.6;
  }
}

.page-header__link {
  align-self: center;
}

.page-header__menu {
  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  padding: 0;
  width: 24px;
  height: 25px;
  align-self: center;
  cursor: pointer;
}

.closed-menu {
  background-image: url("../img/icon-mobile-menu.svg");
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  padding: 0;
  width: 24px;
  height: 20px;
  align-self: center;
  cursor: pointer;
}


@media (min-width: @tablet-width) {
  .page-header {
    width: 709px;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    grid-column-start: 1;
    grid-column-end: -1;
    padding-top: 24px;
  }

  .page-header__menu {
    display: none;
  }

  .page-header__logo {
    padding: 0;
    align-self: center;
    width: auto;
  }

  .page-header__link {
    width: 174px;
    height: 52px;
  }

  .page-header__photo {
    width: 172px;
    height: 57px;
    background-size: 172px 57px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    width: 1220px;
    box-sizing: border-box;
    padding-top: 55px;
    margin: 0 auto;
  }

  .page-header__link {
    background-position: center 0;
    background-size: cover;
    width: 202px;
    height: 59px;
  }

  .page-header__photo {
    width: 202px;
    height: 60px;
    background-size: 202px 59px;
  }
}
