.page-main__catalog {
  color: @basic-text;
  font-weight: 400;
}

.catalog__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.catalog__list {
  list-style: none;
  font-weight: 400;
}

.item__title {
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-transform: uppercase;
  color: @item-title;
  font-weight: 400;
}

.item__options {
  font-size: 12px;
  line-height: 16px;
  font-family: @font-text;
  color: @basic-grey;
}

.catalog__button {
  font-weight: 400;
  font-size: 16px;
  line-height: 0;
  text-align: center;
  text-transform: uppercase;
  color: @basic-bck;
  background-color: @basic-theme;
}


.open-all__text {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.open-all__description {
  font-size: 12px;
  line-height: 16px;
  color: @basic-grey;
  font-family: @font-text;
}

.open-all__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 0;
  text-align: center;
  text-transform: uppercase;
  color: @basic-grey;
  background-color: @features-footer;
}
