.program {
  color: @basic-text;
  background-color: @features-footer;
  font-weight: 400;
  font-family: @font-header;
  width: 280px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-height: 266px;
  box-sizing: border-box;
  position: relative;
  flex-wrap: wrap;

  &::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: @basic-theme;
    top: 24px;
    left: 22px;
  }

  &::after {
    position: absolute;
    content: "";
  }

  &:nth-of-type(1) {
    &::after {
      background-image: url("../img/icon-cat-slim.svg");
      background-repeat: no-repeat;
      width: 36px;
      height: 50px;
      top: 21px;
      left: 29px;
    }
  }

  &:nth-of-type(2) {
    &::after {
      background-image: url("../img/icon-cat-pro.svg");
      background-repeat: no-repeat;
      width: 67px;
      height: 28px;
      top: 35px;
      left: 13px;
    }
  }
}

.program__title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 11px;
  margin-left: 71px;
  text-align: left;
  max-width: 149px;
}

.program__description {
  position: relative;
  font-size: 14px;
  line-height: 18px;
  color: @basic-dark-text;
  font-family: @font-text;
  margin: 0;
  align-self: flex-start;
  margin-top: 29px;
  width: 227px;

  &::after {
    content: "";
    position: absolute;
    width: 240px;
    height: 1px;
    color: @social-lines;
    bottom: -23px;
    left: 0;
  }
}

.program__link {
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  align-self: flex-start;
  margin-top: auto;
  color: @basic-text;
  text-decoration: none;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 32px;
    height: 10px;
    top: 3px;
    right: -45px;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .program {
    width: 708px;
    margin-top: 0;
    min-height: 372px;
    padding: 53px;
    padding-bottom: 60px;

    &::before {
      width: 200px;
      height: 200px;
      top: 90px;
      left: 447px;
    }

    &:nth-of-type(1) {
      &::after {
        width: 140px;
        height: 192px;
        top: 79px;
        left: 477px;
      }
    }

    &:nth-of-type(2) {
      &::after {
        width: 268px;
        height: 112px;
        top: 133px;
        left: 412px;
      }
    }
  }

  .program__title {
    margin-top: 23px;
    align-self: flex-start;
    font-size: 36px;
    line-height: 36px;
    margin-left: 0;
    max-width: 377px;
  }

  .program__description {
    margin-top: 24px;
    width: 377px;
    font-size: 16px;
    line-height: 24px;
  }

  .program:nth-of-type(n+2) {
    margin-top: 30px;
  }

  .program__link {
    font-size: 20px;
    line-height: 30px;

    &::before {
      top: 10px;
      right: -57px;
    }
  }
}

@media (min-width: @desktop-width) {
  .program__title {
    margin-top: 22px;
    align-self: center;
    max-width: 305px;
  }

  .program {
    width: 570px;
    margin: 0;
    min-height: 374px;
    padding: 55px;

    &::before {
      width: 100px;
      height: 100px;
      top: 47px;
      left: 52px;
    }

    &:nth-of-type(1) {
      &::after {
        width: 70px;
        height: 97px;
        top: 41px;
        left: 67px;
      }
    }

    &:nth-of-type(2) {
      &::after {
        width: 134px;
        height: 56px;
        top: 67px;
        left: 32px;
      }
    }
  }

  .program:nth-of-type(1) .program__title {
    margin-left: 27px;
  }

  .program:nth-of-type(2) .program__title {
    margin-left: 72px;
  }

  .program__description {
    margin-top: 77px;
    width: 467px;
    align-self: center;
  }

  .program:nth-of-type(n+2) {
    margin-top: 0;
  }

  .program:nth-of-type(n+3) {
    margin-top: 30px;
  }

  .program:nth-of-type(2n) {
    margin-left: 80px;
  }
}
