.promo {
  font-family: @font-text;
  color: @basic-bck;
  font-weight: 400;
  background-image: url("../../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 280px 289px;
  width: 280px;
  height: 289px;
  margin-top: 39px;
  margin-bottom: 35px;
}

.promo__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding-top: 189px;
  padding-left: 58px;
  padding-right: 61px;
  text-align: center;
  position: relative;
  margin: 0;
}

.promo__text::before {
  content: "";
  position: absolute;
  top: 58px;
  left: 101px;
  background-image: url("../../img/icon-gift.svg");
  background-repeat: no-repeat;
  width: 78px;
  height: 80px;
}

@media (min-width: @tablet-width) {
  .promo {
    display: flex;
    width: 708px;
    height: 200px;
    margin-top: 69px;
    margin-bottom: 76px;
    justify-content: space-between;
  }

  .promo__text::before {
    width: 80px;
    height: 82px;
    top: 57px;
    left: 78px;
  }
}

@media (min-width: @desktop-width) {
  .promo {
    width: 245px;
    height: 289px;
    margin-left: 60px;
    flex-grow: 0;
    margin-top: 0;
    margin-bottom: 86px;
  }

  .promo__text {
    padding-top: 184px;
    padding-left: 41px;
    padding-right: 43px;
  }
}
