.promo {
  font-family: @font-text;
  color: @basic-bck;
  font-weight: 400;
  background-image: url("../../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 280px 289px;
}

.promo__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
