.sample {
  background-color: @sample-bck-mob;
  color: @basic-text;
  font-weight: 400;
  font-family: @font-header;
  display: flex;
  flex-direction: column;
  width: 320px;
  min-height: 705px;
  box-sizing: border-box;
  grid-template-columns: repeat(1, 320px);
  column-gap: 20px;
  grid-column-start: 1;
  grid-column-end: -1;
  align-self: center;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    height: 705px;
    background-color: @sample-bck-mob;
    z-index: -1;
    left: calc(-50vw + 50%);
    width: 100vw;
    overflow: hidden;
  }
}

.sample__info-block {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  height: 64px;
  box-sizing: border-box;
  margin-top: 25px;
}

.sample__title {
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  margin: 0;
  margin-top: 27px;
  margin-left: 20px;
  margin-bottom: 33px;
  align-self: flex-start;
  font-weight: 400;
}

.sample__text {
  font-size: 14px;
  line-height: 18px;
  font-family: @font-text;
  color: @basic-dark-text;
  margin: 0;
  margin-left: 20px;
  width: 279px;
  margin-bottom: 17px;
}

.sample__photo-before {
  align-self: center;
  margin-left: 3px;
  display: none;
}

.sample__photo-after {
  align-self: center;
  margin-left: 3px;
  display: none;
}

.sample__target {
  display: block;
  width: 77px;
  padding-top: 6px;
  padding-left: 22px;
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 18px;
    width: 87px;
    height: 31px;
    background-color: @sample-bck-mob;
    z-index: -1;
  }
}

.sample__volume {
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: @basic-text;
  border: 1px solid @border-toggle;
  border-radius: 3px;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 40px;
  padding-right: 40px;
  font-family: @font-header;
  width: 124px;
  box-sizing: border-box;
  height: 56px;
}

.sample__info {
  font-size: 12px;
  line-height: 12px;
  color: @basic-dark-text;
  font-family: @font-text;
  margin: 0;
  width: 124px;
  text-align: center;

  &:nth-of-type(2) .sample__volume {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.sample__expenses {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 33px;
  margin-left: 0;
}

.sample__range-controls {
  background-color: @basic-bck;
  border: 1px solid @border-toggle;
  width: 84px;
  height: 14px;
  box-sizing: border-box;
  border-radius: 6px;
  margin-top: 35px;
  margin-left: 119px;
  position: relative;
}

.sample__button-before {
  position: absolute;
  top: -5px;
  left: -62px;
  color: @basic-text;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 49px;
  cursor: pointer;
  border: none;
  font-family: @font-header;
  background-color: transparent;
  padding-bottom: 2px;
  border-bottom: 1px dotted @border-toggle-tablet;

  &:hover {
    border-bottom: 1px solid @border-toggle-tablet;
  }

  &:active {
    border: none;
  }
}

.sample__button-after {
  position: absolute;
  width: 51px;
  top: -5px;
  left: 94px;
  color: @basic-text;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  font-family: @font-header;
  background-color: transparent;
  padding-bottom: 2px;
  border-bottom: 1px dotted @border-toggle-tablet;

  &:hover {
    border-bottom: 1px solid @border-toggle-tablet;
  }

  &:active {
    border: none;
  }
}

.sample__bar {
  background-color: @basic-theme;
  border: 1px solid @basic-theme;
  width: 35px;
  height: 6px;
  border-radius: 6px;
  box-sizing: border-box;
  padding-left: 6px;
  padding-right: 6px;
  position: absolute;
  top: 3px;
  left: 4px;
}

.sample__toggle {
  background-color: @basic-theme;
  border: 1px solid @basic-theme;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  box-sizing: border-box;
  position: absolute;
  top: 3px;
  left: 33px;
}

.photo-active {
  display: block;
}

@media (min-width: @tablet-width) {
  .sample {
    width: 708px;
    padding: 0;
    padding-top: 0;
    box-sizing: border-box;
    background-color: transparent;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;

    &::before {
      top: 576px;
      height: 462px;
      left: calc(-50vw + 50%);
      width: 100vw;
    }
  }

  .sample__info {
    font-size: 14px;
    line-height: 14px;
    width: 162px;
  }

  .sample__title {
    padding: 0;
    margin: 0;
    margin-bottom: 63px;
    font-size: 60px;
    line-height: 60px;
  }

  .sample__expenses {
    width: 174px;
    margin: 0;
    margin-top: 63px;
    margin-left: 146px;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
  }

  .sample__target {
    width: 130px;
    padding-left: 16px;
    padding-top: 9px;
    padding-right: 6px;

    &::before {
      top: 0;
      left: 25px;
      width: 115px;
      height: 50px;
      background-color: @basic-bck;
    }
  }

  .sample__text {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    width: auto;
  }

  .sample__photo-before {
    margin-top: 70px;
    width: 700px;
    height: 517px;
    margin-bottom: 47px;
  }

  .sample__photo-after {
    margin-top: 84px;
    margin-left: 20px;
    width: 610px;
    height: 510px;
    margin-bottom: 40px;
  }

  .sample__info-block {
    width: 366px;
    height: 77px;
    box-sizing: border-box;
    margin: 0;
    margin-top: 67px;
  }

  .sample__volume {
    font-size: 30px;
    line-height: 37px;
    color: @basic-text;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 55px;
    padding-right: 55px;
  }


  .sample__range-controls {
    background-color: @border-toggle-tablet;
    border: 1px solid @border-toggle-tablet;
    width: 428px;
    height: 6px;
    box-sizing: border-box;
    border-radius: 6px;
    margin-top: -24px;
    margin-bottom: 34px;
    margin-left: 120px;
    position: relative;
  }

  .sample__button-before {
    top: -14px;
    left: -79px;
    font-size: 20px;
    line-height: 30px;
  }

  .sample__button-after {
    top: -14px;
    left: 441px;
    font-size: 20px;
    line-height: 30px;
  }

  .sample__bar {
    background-color: transparent;
    border: none;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -5px;
      left: 205px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      box-sizing: border-box;
      background-color: @basic-theme;
      z-index: 2;
      cursor: pointer;
    }
  }

  .sample__toggle {
    background-color: @basic-bck;
    border: 1px solid @border-toggle;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    box-sizing: border-box;
    position: absolute;
    top: -15px;
    left: 196px;
    cursor: pointer;
    filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.16));

    &:hover {
      filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.19));
    }

    &:active {
      filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.2));
      border-color: @basic-theme;
    }
  }

  .sample__price {
    display: block;
    margin-top: 8px;
  }
}

@media (min-width: @desktop-width) {
  .sample {
    width: 1220px;
    min-height: 598px;
    max-height: 598px;
    box-sizing: border-box;
    align-self: center;
    padding: 0;
    position: relative;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: -1;

    &::before {
      top: 137px;
      left: calc(-50vw + 50%);
      width: 100vw;
      height: 462px;
      background-color: @features-footer;
    }
  }

  .sample__text {
    width: 436px;
  }

  .sample__expenses {
    display: flex;
    width: 330px;
    text-align: left;
    margin: 0;
    margin-top: 44px;
  }

  .sample__price {
    margin-top: 0;
    padding-left: 65px;
  }

  .sample__info:nth-of-type(2) .sample__volume {
    width: 162px;
    padding-left: 27px;
    padding-right: 27px;
  }

  .sample__photo-before {
    position: absolute;
    top: -66px;
    left: 570px;
    width: 690px;
    height: 536px;
    padding-bottom: 0;
    margin-top: 0;
  }

  .sample__photo-after {
    position: absolute;
    top: -66px;
    left: 570px;
    width: 690px;
    height: 536px;
    padding-bottom: 0;
    margin-top: 0;
  }

  .sample__title {
    margin-bottom: 150px;
  }

  .sample__volume {
    padding-left: 55px;
    padding-right: 55px;
  }

  .sample__info-block {
    height: 72px;
    box-sizing: border-box;
    margin-top: 80px;
  }

  .sample__target {
    padding-left: 10px;
    width: auto;
    max-width: 140px;
    padding-top: 9px;

    &::before {
      top: 0;
      left: 15px;
      width: 135px;
      height: 30px;
      background-color: @features-footer;
    }
  }

  .sample__range-controls {
    margin-left: 722px;
    margin-top: -12px;
  }
}
