.selection {
  width: 320px;
  color: @basic-text;
  font-weight: 400;
  font-family: @font-header;
  margin-bottom: 32px;
  grid-column-start: 1;
  grid-column-end: -1;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.selection__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin-top: 27px;
  margin-bottom: 37px;
  padding-left: 20px;
}

.selection__hint {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 39px;
  padding-left: 20px;
}

.selection__form {
  width: 320px;
  border: none;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}


.selection__send {
  margin-top: 34px;
  margin-bottom: 21px;
  width: 280px;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @basic-bck;
  background-color: @basic-theme;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 44px;
  padding-right: 44px;
  align-self: center;
  cursor: pointer;
  font-family: @font-header;

  &:hover {
    background-color: @button-hover;
  }

  &:active {
    background-color: @button-hover;
    color: @button-active-green;
  }
}

.selection__required {
  padding-left: 62px;
  padding-right: 61px;
  font-family: @font-text;
  font-size: 14px;
  line-height: 16px;
}

@media (min-width: @tablet-width) {
  .selection {
    margin-bottom: 72px;
    grid-column-start: 1;
    grid-column-end: -1;
    width: 709px;
  }

  .selection__title {
    margin-top: 64px;
    margin-bottom: 54px;
    font-size: 60px;
    line-height: 60px;
    padding-left: 0;
  }

  .selection__form {
    padding-left: 40px;
    width: 630px;
  }

  .selection__hint {
    margin: 0;
    margin-bottom: 66px;
    padding-left: 40px;
    width: 323px;
    font-size: 20px;
    line-height: 30px;
  }

  .selection__send {
    margin-top: 54px;
    margin-bottom: 0;
    width: 282px;
    flex-grow: 1;
    font-size: 20px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 45px;
    padding-right: 45px;
  }

  .selection__required {
    width: 180px;
    padding-left: 61px;
    padding-right: 0;
    font-size: 16px;
    line-height: 16px;
    flex-grow: 0.5;
  }
}

@media (min-width: @desktop-width) {
  .selection {
    width: 1440px;
  }

  .selection__title {
    margin-top: 77px;
    margin-bottom: 53px;
    font-size: 60px;
    line-height: 60px;
  }

  .selection__hint {
    margin: 0;
    margin-bottom: 69px;
    padding-left: 0;
  }

  .selection__form {
    padding-left: 0;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1220px;
  }

  .selection__send {
    margin-top: 61px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 188px;
    padding-right: 188px;
    width: 568px;
    box-sizing: border-box;
  }
}
