.slim,
.pro {
  font-family: "Oswald", sans-serif;
  color: @basic-black;
  background-color: @features-sample-footer-catalogbutton;
  position: relative;
  font-weight: normal;
}

.slim-title::after,
.pro-title::after {
  content: "";
  position: absolute;
  width: 240px;
  height: 1px;
  color: @social-lines;
  bottom: 23px;
  left: 0;
}

.slim-title,
.pro-title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.slim-description,
.pro-description {
  font-size: 14px;
  line-height: 18px;
  color: @basic-grey;
  font-family: "Arial", sans-serif;
}

.pro-link,
.slim-link {
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
}
