.social {
  font-family: @font-header;
  margin-bottom: 30px;
}

.social__list {
  list-style: none;
  position: relative;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.social__list::after,
.social__list::before {
  content: "";
  width: 280px;
  height: 1px;
  color: @social-lines;
  position: absolute;
}

.social__list::before {
  top: -20px;
  left: 20px;
}

.social__list::after {
  top: 43px;
  left: 20px;
}

.social__item {
  margin-left: 35px;
  align-self: center;
  cursor: pointer;
}

.social__item:first-of-type {
  margin-left: 0;
}

.social__img {
  &--vk {
    width: 23px;
    height: 16px;
  }

  &--inst {
    width: 16px;
    height: 16px;
  }

  &--fb {
    width: 22px;
    height: 22px;
  }
}

@media (min-width: @tablet-width) {
  .social__list::after,
  .social__list::before {
    display: none;
  }

  .social__item {
    margin-left: 25px;
  }

  .social__item:first-of-type {
    margin-left: 0;
  }
}
