.social {
  width: 280px;
  font-family: @font-header;
  align-self: center;
  padding-bottom: 20px;
  padding-top: 20px;
  border-top: 1px solid @social-lines;
  border-bottom: 1px solid @social-lines;
}

.social__list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.social__item {
  margin-left: 35px;
  align-self: center;
  cursor: pointer;

  &:hover {
    fill: @basic-theme;
  }

  &:active {
    fill: @basic-theme;
    opacity: 0.5;
  }
}

.social__item:first-of-type {
  margin-left: 0;
}

.social__img {
  &--vk {
    width: 23px;
    height: 16px;
  }

  &--inst {
    width: 16px;
    height: 16px;
  }

  &--fb {
    width: 22px;
    height: 22px;
  }
}

@media (min-width: @tablet-width) {
  .social__list {
    &::after,
    &::before {
      display: none;
    }
  }

  .social__item {
    margin-left: 25px;
  }

  .social__item:first-of-type {
    margin-left: 0;
  }

  .social {
    margin-bottom: 0;
    align-self: center;
    border: none;
  }
}
