@basic-bck: #ffffff;
@basic-text: #000000;
@basic-theme: #68b738;
@features-footer: #f2f2f2;
@sample-info: #C4C4C4;
@basic-dark-text: #444444;
@form-etc: #111111;
@item-title: #222222;
@button-hover: #5eaa2f;
@button-pressed: #ebebeb;
@border-form: #e7e7e7;
@border-menu: #e6e6e6;
@error: #ff8282;
@social:#666666;
@border-checkbox: #bababa;
@plus: #d3d3d3;
@border-toggle: #cdcdcd;
@social-lines: #d9d9d9;
@sample-bck-mob: #eaeaea;
@border-toggle-tablet: #dcdcdc;
@button-active-green: rgba(255, 255, 255, 0.3);
@button-pressed-grey: rgba(68, 68, 68, 0.3);
@radio-active: rgba(186, 186, 186, 0.3);
